/* My Styles */



/*Gloabal*/

body {
    background: url(..//img/brickwall.png);
    padding: 20px;
}
 /*section {
 	background: url(..//img/chdepot-bg8.png);
 }*/

@font-face {
  

}
/* Layout */
.logo {
    max-width: 200px;
    padding-left: 0;
}

h1 {
    text-align: center;
}

/* Typography */
h1, h2, h3, h4, p {
    color: #333232;
}

h1, h2, h3 {
    font-family: 'Varela Round', sans-serif;
    
}

p {
	font-family: 'Arvo', serif;
    
}

ul {
    list-style: none;
}

/* links and buttons */
li .button {
    margin-right: 20px;
    color: #f0ede9;
}

.button {
	background: #595148;
}

.button:hover {
	background: #665e51;
}


/*Gallery Styling*/


    .gallery {
        max-width: 60%;
        max-height: 60%;
        padding: 10px;
        background: #1E1C45;
        border-radius: 10px;
        margin:  auto;
        margin-bottom: 3%;
        box-shadow: 1px 1px 20px 10px rgba(30, 28, 69, .8);

    }

    .gallery:after {
        content: "";
        display: block;
        clear: both;
    } 

        .gallery li {
            float: left;
            width: 31%;
            
            margin: 1%;
        }

        .gallery li > a {
            float: left;
            max-width: 100%;
            max-height: 150px; 
            overflow: hidden;
            -webkit-filter: grayscale(.5) sepia(.8);
            -webkit-transition: .5s;
            position: relative;
        }


/* pictures small thumbnails */

                .gallery li > a img {
               max-width: 100%;
                
          
                 background:#ccc;
                box-shadow: 0 0 5px rgba(0, 0, 0, .3);
                -webkit-transition: .5s;
                }

                .gallery li > a:hover {
                    -webkit-filter: grayscale(0) sepia(0);
                    z-index: 1;
                }

                .gallery li > a:hover img {
                    -webkit-transform: scale(1.4);
                    box-shadow: 0 0 15px rgba(0, 0, 0, .8);
                }

                .gallery article {
                    width: 0;
                    height: 0;
                    overflow: hidden;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .gallery article:target {
                    width: 100%;
                    height: 100%;
                    padding: 100px 0;

                    margin: 0;
                    text-align: center;
                    background: rgba(0, 0, 0, .8);
                    z-index: 1;
                }

/* Pictures in lightbox */
                .gallery article img {
                    opacity: 0;
                    -webkit-transition: .7s;
                    border: 10px solid #fff;
                    width: auto;
                    height: auto;
                    max-height: 80%;
                    max-width: 80%;
                    box-sizing: border-box;
                    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
                }

                .gallery article:target img {
                    opacity: 1;
                    background: bl;
                } 

                .gallery figcaption {
                    background: rgba(250, 250, 250, .1);
                    padding: 5px 10px;
                    font-size: 1.3em;
                    font-style: italic;
                    color: white;
                    margin-top: 20px;
                }
/* navigation in light box*/

            article .close {
                position: absolute;
                left: 50%;
                top: 40px;
                margin-left: -50px;
                width: 100px;
                background: rgba(250, 250, 250, .9);
                color: black;
                border-radius: 15px;
                text-decoration: none;
                padding: 6px 6px 6px 25px;
                box-sizing: border-box;
                text-transform: uppercase;
                -webkit-transition: .5s;
            }

            article .close:before {
                content: "X";
                color: #fff;
                font-family: Arial;
                font-weight: bold;
                position: absolute;
                padding-top: 3px;
                top: 3px;
                left: 5px;
                width: 24px;
                height: 21px;
                background: #666;
                border-radius: 50%;
            }

            article .close:hover {
                background: #fff;
            }

            article .arrow {
                position: absolute;
                top: 250px;
                width: 0;
                height: 0;
                border-top: 40px solid transparent;
                border-bottom: 40px solid transparent;
                text-indent: -9999px;
                -webkit-transition: .4s;
            }

            article .prev {
                left: 50%;
                margin-left: -40%;
                border-right: 60px solid rgba(250, 250, 250, .1);
            }

                article .prev:hover {
                    border-right: 60px solid rgba(250, 250, 250, .2);
                }

            article .next {
                right: 50%;
                margin-right: -40%;
                border-left: 60px solid rgba(250, 250, 250, .1);
            }

            article .next:hover,
            article > a:hover ~ nav .next {
                border-left: 60px solid rgba(250, 250, 250, .2);
            }

/*Media Queries*/

